<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBAUQDqRVlZ9go4mv-6O2-d9GSTIRvNgXw</string>
	<key>GCM_SENDER_ID</key>
	<string>109630664075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thepurplepiggybank.app</string>
	<key>PROJECT_ID</key>
	<string>the-purple-piggy-bank-llc</string>
	<key>STORAGE_BUCKET</key>
	<string>the-purple-piggy-bank-llc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109630664075:ios:f54d19ff1ea81bc8b6d38e</string>
</dict>
</plist>